<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Patient Plus</title>
    <!-- Add any additional styles or scripts here -->
</head>
<body>
  <section class="patient_photo">
      <img src="/public/images/homephoto.jpg" alt="placeholder img" width="800" height="800">
    </section>
    <header class="col-md-6">
        <h1>Welcome to Patient Plus</h1>
    </header>

    <main>
        <p class="col-md-6">
            Patient Plus is designed to streamline your workflow, 
            improve business practices, and alleviate the challenges faced by clinicians. 
            Our goal is to provide a comprehensive solution that enhances patient care and organizational efficiency.
        </p>

        <!-- "Get Started" button linking to the login page -->
        <a href="/login">
            <button class="btn btn-primary" type="submit">Get Started</button>
        </a>
    </main>

    <footer>
        <!-- Add any footer content or links here -->
    </footer>
</body>
</html>